<h1>Test of the form</h1>

<h4>Hash</h4>
<hr>
<hr>
<% if @fullhash == {} %>
	<p>Add Some Data To the Hash</p>
<% else %>
	<%= @fullhash %>
<% end %>
<hr>
<hr>

<form action="/add_to_hash" method="POST">
	<input type="text" class="new-key" name="hashkey" placeholder="Key">
	<input type="text" class="new-value" name="hashvalue" placeholder="Value">
	<input type="hidden" class="new-value" value='<%= @fullhash %>' name="fullhash">
	<button type="submit" class="btn btn-primary">Add Data to Hash</button>
</form>

<br>
<br>
<% if @key_array %>
	<h1>Test Your Data</h1>
	<form action="/run_rool" method="POST" id="rool-config">
		<input type="text" class="operand" name="operand" placeholder="Operand">
		<input type="hidden" class="new-value" value='<%= @fullhash %>' name="fullhash">
		<button type="submit" class="btn btn-primary">Test A Rule</button>
	</form>

	<select name="rool" form="rool-config">

		<% @rool_array.each do |rool| %>
	  <option value="<%= rool %>"><%= rool.capitalize %></option>
	  <% end %>
	  
	</select>

	<select name="hash_key" form="rool-config">

		<% @key_array.each do |key| %>
	  <option value="<%= key %>"><%= key %></option>
	  <% end %>
	  
	</select>

	<hr>

	<hr>
	<% if @result != nil %>
		<h1>The Details</h1>
		<%= @result %>
		<hr>
		<hr>
	<% end %>

	
<% end %>









